h1, h2, h3, h4, p, ul {
    color: white;
}
.root {
    margin:0;
    max-width: 1800;
    width:100%;
    background: #5d5c61;
}
.selfie {
    background-image: url(../images/touxiang3.jpg);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat;
    margin-bottom: 10px; */
}

.black-overlay {
    display: -webkit-flex;
    display: flex;
    background-color: rgba(0,0,0,.4);
    height: 100%;
    align-items: center;
    text-align: center;
}

.welcome-message {
    margin:0 auto;
    text-align: center;
}
.welcome-message p {
    font-style: italic;
    font-family: times;
    font-size:4vw;
}
.welcome-message h1 {
    font-family: "Times New Roman", Times, serif;
    font-size:8vw;
}

.section_title {
    background: #557a95;
}
.section_title h2 {
    margin: 4vh;
    font-family: "brandon-grotesque","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande","sans-serif";
    font-weight: 400;
}

.face {
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 40%;
    border-radius:20%;
}
.text {
    margin-bottom:10vh;
}
.introduction p {
    margin: 2.5vh;
    line-height: 5vh;
    width: 70%;
    font-size: 2.5vw;
}

.preview_card {

}

.preview_card h2 {
    margin:4vh;
    font-family: "brandon-grotesque","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande","sans-serif";
    font-size: 5vh;
    font-weight: 200;
    background: #c38d9e;
}
.preview_card p {
    text-align: center;
}